:root {
  --ion-color-gruen: #008000;
  --ion-color-gruen-rgb: 0, 128, 0;
  --ion-color-gruen-contrast: #ffffff;
  --ion-color-gruen-contrast-rgb: 0, 0, 0;
  --ion-color-gruen-shade: #009000;
  --ion-color-gruen-tint: #009000;

  --ion-color-burnicklgruen: #c7d416;
  --ion-color-burnicklgruen-rgb: 0, 128, 0;
  --ion-color-burnicklgruen-contrast: #ffffff;
  --ion-color-burnicklgruen-contrast-rgb: 0, 0, 0;
  --ion-color-burnicklgruen-shade: #c7d416;
  --ion-color-burnicklgruen-tint: #c7d416;

  --ion-color-burnicklgrau: #354547;
  --ion-color-burnicklgrau-rgb: 0, 128, 0;
  --ion-color-burnicklgrau-contrast: #ffffff;
  --ion-color-burnicklgrau-contrast-rgb: 0, 0, 0;
  --ion-color-burnicklgrau-shade: #354547;
  --ion-color-burnicklgrau-tint: #354547;

  --ion-color-menuegruen: #009b00;
  --ion-color-menuegruen-rgb: 85, 252, 94;
  --ion-color-menuegruen-contrast: #ffffff;
  --ion-color-menuegruen-contrast-rgb: 0, 0, 0;
  --ion-color-menuegruen-shade: #000000;
  --ion-color-menuegruen-tint: #008d00;

  --ion-color-menuetitlegruen: #008000;
  --ion-color-menuetitlegruen-rgb: 0, 128, 0;
  --ion-color-menuetitlegruen-contrast: #ffffff;
  --ion-color-menuetitlegruen-contrast-rgb: 0, 0, 0;
  --ion-color-menuetitlegruen-shade: #000000;
  --ion-color-menuetitlegruen-tint: #009000;

  --ion-color-menuedisabled: #444444;
  --ion-color-menuedisabled-rgb: 0, 128, 0;
  --ion-color-menuedisabled-contrast: #ffffff;
  --ion-color-menuedisabled-contrast-rgb: 0, 0, 0;
  --ion-color-menuedisabled-shade: #000000;
  --ion-color-menuedisabled-tint: #444444;

  --ion-color-dunkelgelb: #ffcc00;
  --ion-color-dunkelgelb-rgb: 255, 204, 0;
  --ion-color-dunkelgelb-contrast: #000000;
  --ion-color-dunkelgelb-contrast-rgb: 0, 0, 0;
  --ion-color-dunkelgelb-shade: #000000;
  --ion-color-dunkelgelb-tint: #000000;

  --ion-color-orange: #ff6600;
  --ion-color-orange-rgb: 255, 102, 0;
  --ion-color-orange-contrast: #ffffff;
  --ion-color-orange-contrast-rgb: 255, 255, 255;
  --ion-color-orange-shade: #ff7000;
  --ion-color-orange-tint: #ff7700;

  --ion-color-menueorange: #ff812d;
  --ion-color-menueorange-rgb: 17, 255, 150;
  --ion-color-menueorange-contrast: #ffffff;
  --ion-color-menueorange-contrast-rgb: 255, 255, 255;
  --ion-color-menueorange-shade: #000000;
  --ion-color-menueorange-tint: #000000;


  --ion-color-menuetitleorange: #ff6600;
  --ion-color-menuetitleorange-rgb: 255, 102, 0;
  --ion-color-menuetitleorange-contrast: #ffffff;
  --ion-color-menuetitleorange-contrast-rgb: 255, 255, 255;
  --ion-color-menuetitleorange-shade: #000000;
  --ion-color-menuetitleorange-tint: #ff7700;

  --ion-color-menuetitlegrau: #444444;
  --ion-color-menuetitlegrau-rgb: 255, 102, 0;
  --ion-color-menuetitlegrau-contrast: #ffffff;
  --ion-color-menuetitlegrau-contrast-rgb: 255, 255, 255;
  --ion-color-menuetitlegrau-shade: #000000;
  --ion-color-menuetitlegrau-tint: #444444;

  --ion-color-grau: #444444;
  --ion-color-grau-rgb: 68, 68, 68;
  --ion-color-grau-contrast: #ffffff;
  --ion-color-grau-contrast-rgb: 255, 255, 255;
  --ion-color-grau-shade: #000000;
  --ion-color-grau-tint: #000000;

  --ion-color-graudisabled: #444444;
  --ion-color-graudisabled-rgb: 68, 68, 68;
  --ion-color-graudisabled-contrast: #ffffff;
  --ion-color-graudisabled-contrast-rgb: 255, 255, 255;
  --ion-color-graudisabled-shade: #444444;
  --ion-color-graudisabled-tint: #444444;

  --ion-color-dunkelgrau: #000000;
  --ion-color-dunkelgrau-rgb: 102, 102, 102;
  --ion-color-dunkelgrau-contrast: #ffffff;
  --ion-color-dunkelgrau-contrast-rgb: 255, 255, 255;
  --ion-color-dunkelgrau-shade: #000000;
  --ion-color-dunkelgrau-tint: #000000;

  --ion-color-silber: #999999;
  --ion-color-silber-rgb: 68, 68, 68;
  --ion-color-silber-contrast: #ffffff;
  --ion-color-silber-contrast-rgb: 255, 255, 255;
  --ion-color-silber-shade: black;
  --ion-color-silber-tint: black;

  --ion-color-schwarz: #000000;
  --ion-color-schwarz-rgb: 0, 0, 0;
  --ion-color-schwarz-contrast: #ffffff;
  --ion-color-schwarz-contrast-rgb: 255, 255, 255;
  --ion-color-schwarz-shade: #000000;
  --ion-color-schwarz-tint: #000000;

  --ion-color-weiss: #ffffff;
  --ion-color-weiss-rgb: 255, 255, 255;
  --ion-color-weiss-contrast: #000000;
  --ion-color-weiss-contrast-rgb: 0, 0, 0;
  --ion-color-weiss-shade: #000000;
  --ion-color-weiss-tint: #000000;

  --ion-color-rot: #D40000;
  --ion-color-rot-rgb: 0, 255, 106;
  --ion-color-rot-contrast: #ffffff;
  --ion-color-rot-contrast-rgb: 255, 255, 255;
  --ion-color-rot-shade: #d42d19;
  --ion-color-rot-tint: #d42d19;

  --ion-color-menuetitlerot: #D40000;
  --ion-color-menuetitlerot-rgb: 0, 255, 106;
  --ion-color-menuetitlerot-contrast: #ffffff;
  --ion-color-menuetitlerot-contrast-rgb: 255, 255, 255;
  --ion-color-menuetitlerot-shade: #000000;
  --ion-color-menuetitlerot-tint: #d42d19;

  --ion-color-menuetitleteal: teal;
  --ion-color-menuetitleteal-rgb: 0, 255, 106;
  --ion-color-menuetitleteal-contrast: #ffffff;
  --ion-color-menuetitleteal-contrast-rgb: 255, 255, 255;
  --ion-color-menuetitleteal-shade: #000000;
  --ion-color-menuetitleteal-tint: teal;

  --ion-color-blau: #3771c8;
  --ion-color-blau-rgb: 153, 145, 128;
  --ion-color-blau-contrast: #ffffff;
  --ion-color-blau-contrast-rgb: 255, 255, 255;
  --ion-color-blau-shade: #3771ac;
  --ion-color-blau-tint: #3771ac;

  --ion-color-dunkelblau: #0020C2;
  --ion-color-dunkelblau-rgb: 153, 145, 128;
  --ion-color-dunkelblau-contrast: #ffffff;
  --ion-color-dunkelblau-contrast-rgb: 255, 255, 255;
  --ion-color-dunkelblau-shade: #3771ac;
  --ion-color-dunkelblau-tint: #3771ac;

  --ion-color-menueblau: #6495ED;
  --ion-color-menueblau-rgb: 128, 255, 64;
  --ion-color-menueblau-contrast: #ffffff;
  --ion-color-menueblau-contrast-rgb: 255, 255, 255;
  --ion-color-menueblau-shade: #6495ED;
  --ion-color-menueblau-tint: #6495ED;

  --ion-color-problau: #2f6299;
  --ion-color-problau-rgb: 47, 98, 153;
  --ion-color-problau-contrast: #ffffff;
  --ion-color-problau-contrast-rgb: 255, 255, 255;
  --ion-color-problau-shade: #2f6299;
  --ion-color-problau-tint: #2f6299;

  --ion-color-menuetitleblau: #3771c8;
  --ion-color-menuetitleblau-rgb: 153, 145, 128;
  --ion-color-menuetitleblau-contrast: #ffffff;
  --ion-color-menuetitleblau-contrast-rgb: 255, 255, 255;
  --ion-color-menuetitleblau-shade: #000000;
  --ion-color-menuetitleblau-tint: #3771ac;

  --ion-color-braun: #a0522d;
  --ion-color-braun-rgb: 14, 143, 102;
  --ion-color-braun-contrast: #ffffff;
  --ion-color-braun-contrast-rgb: 255, 255, 255;
  --ion-color-braun-shade: #a0522d;
  --ion-color-braun-tint: #a0522d;

  --ion-color-burnicklbraun: #7b6a58;
  --ion-color-burnicklbraun-rgb: 14, 143, 102;
  --ion-color-burnicklbraun-contrast: #ffffff;
  --ion-color-burnicklbraun-contrast-rgb: 255, 255, 255;
  --ion-color-burnicklbraun-shade: #7b6a58;
  --ion-color-burnicklbraun-tint: #7b6a58;

  --ion-color-teal: #008080;
  --ion-color-teal-rgb: 128, 255, 64;
  --ion-color-teal-contrast: #ffffff;
  --ion-color-teal-contrast-rgb: 255, 255, 255;
  --ion-color-teal-shade: #009898;
  --ion-color-teal-tint: #009898;

  --ion-color-menutitleteal: #008080;
  --ion-color-menutitleteal-rgb: 128, 255, 64;
  --ion-color-menutitleteal-contrast: #ffffff;
  --ion-color-menutitleteal-contrast-rgb: 255, 255, 255;
  --ion-color-menutitleteal-shade: #000000;
  --ion-color-menutitleteal-tint: #000000;

  --ion-color-menueteal: #009898;
  --ion-color-menueteal-rgb: 128, 255, 64;
  --ion-color-menueteal-contrast: #ffffff;
  --ion-color-menueteal-contrast-rgb: 255, 255, 255;
  --ion-color-menueteal-shade: #008075;
  --ion-color-menueteal-tint: #008075;

  --ion-color-gelb: #ffdd00;
  --ion-color-gelb-rgb: 255, 221, 0;
  --ion-color-gelb-contrast: #ffffff;
  --ion-color-gelb-contrast-rgb: 255, 255, 255;
  --ion-color-gelb-shade: #ffd000;
  --ion-color-gelb-tint: #ffd000;

  --ion-color-menutitlegelb: #ffcc00;
  --ion-color-menutitlegelb-rgb: 255, 204, 0;
  --ion-color-menutitlegelb-contrast: #ffffff;
  --ion-color-menutitlegelb-contrast-rgb: 255, 255, 255;
  --ion-color-menutitlegelb-shade: #000000;
  --ion-color-menutitlegelb-tint: #000000;
}

.ion-color-gruen {
  --ion-color-base: var(--ion-color-gruen) !important;
  --ion-color-base-rgb: var(--ion-color-gruen-rgb) !important;
  --ion-color-contrast: var(--ion-color-gruen-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gruen-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gruen-shade) !important;
  --ion-color-tint: var(--ion-color-gruen-tint) !important;
}

.ion-color-burnicklgruen {
  --ion-color-base: var(--ion-color-burnicklgruen) !important;
  --ion-color-base-rgb: var(--ion-color-burnicklgruen-rgb) !important;
  --ion-color-contrast: var(--ion-color-burnicklgruen-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-burnicklgruen-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-burnicklgruen-shade) !important;
  --ion-color-tint: var(--ion-color-burnicklgruen-tint) !important;
}

.ion-color-burnicklgrau {
  --ion-color-base: var(--ion-color-burnicklgrau) !important;
  --ion-color-base-rgb: var(--ion-color-burnicklgrau-rgb) !important;
  --ion-color-contrast: var(--ion-color-burnicklgrau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-burnicklgrau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-burnicklgrau-shade) !important;
  --ion-color-tint: var(--ion-color-burnicklgrau-tint) !important;
}

.ion-color-menuegruen {
  --ion-color-base: var(--ion-color-menuegruen) !important;
  --ion-color-base-rgb: var(--ion-color-menuegruen-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuegruen-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuegruen-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuegruen-shade) !important;
  --ion-color-tint: var(--ion-color-menuegruen-tint) !important;
}

.ion-color-menuetitlegruen {
  --ion-color-base: var(--ion-color-menuetitlegruen) !important;
  --ion-color-base-rgb: var(--ion-color-menuetitlegruen-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuetitlegruen-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuetitlegruen-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuetitlegruen-shade) !important;
  --ion-color-tint: var(--ion-color-menuetitlegruen-tint) !important;
}

.ion-color-dunkelgelb {
  --ion-color-base: var(--ion-color-dunkelgelb) !important;
  --ion-color-base-rgb: var(--ion-color-dunkelgelb-rgb) !important;
  --ion-color-contrast: var(--ion-color-dunkelgelb-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dunkelgelb-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dunkelgelb-shade) !important;
  --ion-color-tint: var(--ion-color-dunkelgelb-tint) !important;
}

.ion-color-grau {
  --ion-color-base: var(--ion-color-grau) !important;
  --ion-color-base-rgb: var(--ion-color-grau-rgb) !important;
  --ion-color-contrast: var(--ion-color-grau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-grau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-grau-shade) !important;
  --ion-color-tint: var(--ion-color-grau-tint) !important;
}

.ion-color-graudisabled {
  --ion-color-base: var(--ion-color-graudisabled) !important;
  --ion-color-base-rgb: var(--ion-color-graudisabled-rgb) !important;
  --ion-color-contrast: var(--ion-color-graudisabled-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-graudisabled-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-graudisabled-shade) !important;
  --ion-color-tint: var(--ion-color-graudisabled-tint) !important;
}

.ion-color-dunkelgrau {
  --ion-color-base: var(--ion-color-dunkelgrau) !important;
  --ion-color-base-rgb: var(--ion-color-dunkelgrau-rgb) !important;
  --ion-color-contrast: var(--ion-color-dunkelgrau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dunkelgrau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dunkelgrau-shade) !important;
  --ion-color-tint: var(--ion-color-dunkelgrau-tint) !important;
}

.ion-color-silber {
  --ion-color-base: var(--ion-color-silber) !important;
  --ion-color-base-rgb: var(--ion-color-silber-rgb) !important;
  --ion-color-contrast: var(--ion-color-silber-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-silber-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-silber-shade) !important;
  --ion-color-tint: var(--ion-color-silber-tint) !important;
}

.ion-color-schwarz {
  --ion-color-base: var(--ion-color-schwarz) !important;
  --ion-color-base-rgb: var(--ion-color-schwarz-rgb) !important;
  --ion-color-contrast: var(--ion-color-schwarz-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-schwarz-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-schwarz-shade) !important;
  --ion-color-tint: var(--ion-color-schwarz-tint) !important;
}

.ion-color-orange {
  --ion-color-base: var(--ion-color-orange) !important;
  --ion-color-base-rgb: var(--ion-color-orange-rgb) !important;
  --ion-color-contrast: var(--ion-color-orange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-orange-shade) !important;
  --ion-color-tint: var(--ion-color-orange-tint) !important;
}

.ion-color-menueorange {
  --ion-color-base: var(--ion-color-menueorange) !important;
  --ion-color-base-rgb: var(--ion-color-menueorange-rgb) !important;
  --ion-color-contrast: var(--ion-color-menueorange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menueorange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menueorange-shade) !important;
  --ion-color-tint: var(--ion-color-menueorange-tint) !important;
}

.ion-color-menuetitleorange {
  --ion-color-base: var(--ion-color-menuetitleorange) !important;
  --ion-color-base-rgb: var(--ion-color-menuetitleorange-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuetitleorange-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuetitleorange-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuetitleorange-shade) !important;
  --ion-color-tint: var(--ion-color-menuetitleorange-tint) !important;
}

.ion-color-menuetitlegrau {
  --ion-color-base: var(--ion-color-menuetitlegrau) !important;
  --ion-color-base-rgb: var(--ion-color-menuetitlegrau-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuetitlegrau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuetitlegrau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuetitlegrau-shade) !important;
  --ion-color-tint: var(--ion-color-menuetitlegrau-tint) !important;
}

.ion-color-weiss {
  --ion-color-base: var(--ion-color-weiss) !important;
  --ion-color-base-rgb: var(--ion-color-weiss-rgb) !important;
  --ion-color-contrast: var(--ion-color-weiss-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-weiss-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-weiss-shade) !important;
  --ion-color-tint: var(--ion-color-weiss-tint) !important;
}

.ion-color-rot {
  --ion-color-base: var(--ion-color-rot) !important;
  --ion-color-base-rgb: var(--ion-color-rot-rgb) !important;
  --ion-color-contrast: var(--ion-color-rot-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-rot-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-rot-shade) !important;
  --ion-color-tint: var(--ion-color-rot-tint) !important;
}

.ion-color-menuetitlerot {
  --ion-color-base: var(--ion-color-menuetitlerot) !important;
  --ion-color-base-rgb: var(--ion-color-menuetitlerot-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuetitlerot-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuetitlerot-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuetitlerot-shade) !important;
  --ion-color-tint: var(--ion-color-menuetitlerot-tint) !important;
}

.ion-color-menuetitleteal {
  --ion-color-base: var(--ion-color-menuetitleteal) !important;
  --ion-color-base-rgb: var(--ion-color-menuetealleteal-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuetitleteal-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuetitleteal-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuetitleteal-shade) !important;
  --ion-color-tint: var(--ion-color-menuetitleteal-tint) !important;
}

.ion-color-menuedisabled {
  --ion-color-base: var(--ion-color-menuedisabled) !important;
  --ion-color-base-rgb: var(--ion-color-menuedisabled-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuedisabled-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuedisabled-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuedisabled-shade) !important;
  --ion-color-tint: var(--ion-color-menuedisabled-tint) !important;
}

.ion-color-blau {
  --ion-color-base: var(--ion-color-blau) !important;
  --ion-color-base-rgb: var(--ion-color-blau-rgb) !important;
  --ion-color-contrast: var(--ion-color-blau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-blau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-blau-shade) !important;
  --ion-color-tint: var(--ion-color-blau-tint) !important;
}

.ion-color-dunkelblau {
  --ion-color-base: var(--ion-color-dunkelblau) !important;
  --ion-color-base-rgb: var(--ion-color-dunkelblau-rgb) !important;
  --ion-color-contrast: var(--ion-color-dunkelblau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-dunkelblau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-dunkelblau-shade) !important;
  --ion-color-tint: var(--ion-color-dunkelblau-tint) !important;
}

.ion-color-menueblau {
  --ion-color-base: var(--ion-color-menueblau) !important;
  --ion-color-base-rgb: var(--ion-color-menueblau-rgb) !important;
  --ion-color-contrast: var(--ion-color-menueblau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menueblau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menueblau-shade) !important;
  --ion-color-tint: var(--ion-color-menueblau-tint) !important;

}

.ion-color-problau {
  --ion-color-base: var(--ion-color-problau) !important;
  --ion-color-base-rgb: var(--ion-color-problau-rgb) !important;
  --ion-color-contrast: var(--ion-color-problau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-problau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-problau-shade) !important;
  --ion-color-tint: var(--ion-color-problau-tint) !important;
}

.ion-color-menuetitleblau {
  --ion-color-base: var(--ion-color-menuetitleblau) !important;
  --ion-color-base-rgb: var(--ion-color-menuetitleblau-rgb) !important;
  --ion-color-contrast: var(--ion-color-menuetitleblau-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menuetitleblau-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menuetitleblau-shade) !important;
  --ion-color-tint: var(--ion-color-menuetitleblau-tint) !important;
}

.ion-color-braun {
  --ion-color-base: var(--ion-color-braun) !important;
  --ion-color-base-rgb: var(--ion-color-braun-rgb) !important;
  --ion-color-contrast: var(--ion-color-braun-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-braun-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-braun-shade) !important;
  --ion-color-tint: var(--ion-color-braun-tint) !important;

}

.ion-color-burnicklbraun {
  --ion-color-base: var(--ion-color-burnicklbraun) !important;
  --ion-color-base-rgb: var(--ion-color-burnicklbraun-rgb) !important;
  --ion-color-contrast: var(--ion-color-burnicklbraun-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-burnicklbraun-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-burnicklbraun-shade) !important;
  --ion-color-tint: var(--ion-color-burnicklbraun-tint) !important;

}

.ion-color-teal {
  --ion-color-base: var(--ion-color-teal) !important;
  --ion-color-base-rgb: var(--ion-color-teal-rgb) !important;
  --ion-color-contrast: var(--ion-color-teal-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-teal-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-teal-shade) !important;
  --ion-color-tint: var(--ion-color-teal-tint) !important;

}

.ion-color-menueteal {
  --ion-color-base: var(--ion-color-menueteal) !important;
  --ion-color-base-rgb: var(--ion-color-menueteal-rgb) !important;
  --ion-color-contrast: var(--ion-color-menueteal-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menueteal-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menueteal-shade) !important;
  --ion-color-tint: var(--ion-color-menueteal-tint) !important;

}

.ion-color-menutitleteal {
  --ion-color-base: var(--ion-color-menutitleteal) !important;
  --ion-color-base-rgb: var(--ion-color-menutitleteal-rgb) !important;
  --ion-color-contrast: var(--ion-color-menutitleteal-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menutitleteal-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menutitleteal-shade) !important;
  --ion-color-tint: var(--ion-color-menutitleteal-tint) !important;

}

.ion-color-gelb {
  --ion-color-base: var(--ion-color-gelb) !important;
  --ion-color-base-rgb: var(--ion-color-gelb-rgb) !important;
  --ion-color-contrast: var(--ion-color-gelb-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gelb-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gelb-shade) !important;
  --ion-color-tint: var(--ion-color-gelb-tint) !important;
}

.ion-color-menutitlegelb {
  --ion-color-base: var(--ion-color-menutitlegelb) !important;
  --ion-color-base-rgb: var(--ion-color-menutitlegelb-rgb) !important;
  --ion-color-contrast: var(--ion-color-menutitlegelb-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-menutitlegelb-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-menutitlegelb-shade) !important;
  --ion-color-tint: var(--ion-color-menutitlegelb-tint) !important;
}
